<body>
<div class="container">
  <div class="jumbotron">
    <center>
      here goes js slider
<br/>
<img src="/slider_image_test.jpg" style="width:60%; height:auto;"/>
</center>
  </div>
<h1> Library news .............................</h1>

</div>
</body>
