
  <div class="jumbotron">
    <center>
      <div class="w3-content w3-display-container">
        <img class="mySlides" src="/slider_image_3.jpg" style="width:80%">
        <img class="mySlides" src="/slider_image_test.jpg" style="width:80%">
        <img class="mySlides" src="/slider_image_2.jpg" style="width:80%">
        <img class="mySlides" src="/slider_image_4.jpg" style="width:80%">

        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
      </div>

      <script>
      var slideIndex = 1;
      showDivs(slideIndex);

      function plusDivs(n) {
        showDivs(slideIndex += n);
      }

      function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
           x[i].style.display = "none";
        }
        x[slideIndex-1].style.display = "block";
      }
      </script>
</center>
  </div>
<h1> Library news .............................</h1>
<h1> Library news .............................</h1>

<h1> Library news .............................</h1>

<h1> Library news .............................</h1>
