<br/>
<ul class="breadcrumb">
  <li class="#"><a href="#"> Action </a></li>
  <li><a href="#">Details</a></li>
  <li><a href="#">Preview</a></li>
</ul>
<div class="row">
<div class="col-md-6">
  <br/>
  <img src="http://via.placeholder.com/400x500" class="img-responsive" />

</div>
<div class="col-md-6">
<br/>
<h3>Title, edition: Title&Title, Edition 4</h3><br/>
<h3> Author: Name Surname  </h3><br/>
<h4> Year published: YYYY </h4><br/>
<h4> Currently available:  </h4> <br/>
<br/>
<h4> ISBN:  </h4> <br/>
<hr/>
<a href="#" class="borrow_btn">Borrow</a>
<a href="#" class="add_to_cart_btn">Add to my cart</a>
<a href="#" class="buy_btn">Buy now</a>
</div>

</div>

<br/><br/>
<style>
img:hover{
  opacity: 0.6;
}
.borrow_btn {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background-color:#019ad2;
	display:inline-block;
	cursor:pointer;
	color: white;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:15px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.borrow_btn:hover {
	background-color:#ffab23;
  color: white;
}
.borrow_btn:active {
	position:relative;
	top:1px;
}


.add_to_cart_btn {
	-moz-box-shadow: 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow: 0px 1px 0px 0px #bbdaf7;
	box-shadow: 0px 1px 0px 0px #bbdaf7;
	background-color:#79bbff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:15px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.add_to_cart_btn:hover {
	background-color:#378de5;
}
.add_to_cart_btn:active {
	position:relative;
	top:1px;
}



.buy_btn {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background-color:#ffab23;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:15px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.buy_btn:hover {
	background-color:#ffab23;
  color: red;
}
.buy_btn:active {
	position:relative;
	top:1px;
}


</style>
