<div class="row">

<% for @item in @items %>
  <div class="col-md-4">
    <div id="wrapper">
    <%= link_to image_tag(@item.image.url, :size=>"350x400", :class=>"existing_image"),  item_path(@item)%>
    <h1 class="text">Edit </h1>
  </div>
<strong><%= @item.item_name %></strong><br/>
<strong><%= @item.author %></strong><br/>
<strong>ISBN: <%= @item.isbn %></strong><br/>
<br/><br/>
</div>

<%end%>
</div>

<style>
.existing_image:hover{
  opacity: 0.3;
}
#wrapper:hover .text {
visibility:visible;
}
#wrapper .text {
position:relative;
bottom: 250px;
left:42%;
visibility:hidden;
}


</style>
