<div class="row">

<% for @item in @items %>
  <div class="col-md-4">
    <%= link_to image_tag(@item.image.url, :size=>"350x400"),  items_edit_path%><br/><br/>
<strong><%= @item.item_name %></strong><br/>
<strong><%= @item.author %></strong><br/>
<strong><%= @item.isbn %></strong><br/>
<br/><br/><br/>
</div>

<%end%>
</div>
