<% for @i in @categories %>
<% @c=Category.find_by_id(@i.id) %>
<strong>  <%= link_to (@c.category_name), cat_editing_path(@c) %></strong><br/>
  <% for @j in @subcategories %>
  <% @s=Subcategory.find_by_id(@j.id) %>
  <% if (@s.category_id==@c.id) %>
  <p><%= link_to (@s.subcategory_name), cat_editing_path(@c) %></p><br/>
  <% end %>
  <%end %>
<% end %>
<br/>


<style>
select{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 35px;
  background-color: white;
  font-size: 18px;
}
.btn1{
  paddng: 15px !important;
  font-size: 18px;
}
p{
  padding-left: 10px;
}

</style>
