<div class="form-group">
<%= form_for @category, remote: true, url: {action: "create"} do |f| %>


  <label for="ime1">Add a new category: </label><br/>
  <%= f.text_field :category_name, id:"ime1", class: "form-control" %></br>
  <%= f.submit "Add", class:"btn-info" %>


<% end %>
</div>
