<div class="row">
  <div class="col-md-6">

      <% for @i in @categories %>
      <% @c=Category.find_by_id(@i.id)%>
      <%= link_to (@i.category_name), edit_path(@c) %>
      <% end %>
  </div>
  <div class="col-md-6">
<%= render 'new' %>

  </div>
</div>
