<div class="row">
  <div class="col-md-4 col-md-offset-1">
      <h4><strong> Currently active categories: </strong></h4><br/>
      <ol>
      <% for @i in @categories %>
      <% @c=Category.find_by_id(@i.id)%>
      <h5><strong><li> <%= link_to (@i.category_name), edit_path(@c) %></li>  <p> (<%= @c.fullname %>) </p><strong></h5><br/>

        <%for @s in @subcategories %>
          <% @scid=@s.category_id%>
          <% if (@scid==@c.id) %>
          <i><%= link_to (@s.subcategory_name), edit_path(@s) %></i><br/>
          <% end %>
        <% end %><br/>
      <% end %>
    </ol>
  </div>
  <div class="col-md-6">
<%= render 'new' %>

  </div>
</div>
