<div class="footer-bottom">
  <div class="container">
  <div class="row">
    <div class="col-md-4">
      <b>
      IUS Library <br/><br/>
      Opens at: 8:00 <br/>
      Closes at: 20:30 <br/>

      <br/><br/>
      <a href="#" style="color:#005696; text-decoration: none;"> CONTACT US </a>
    </b>
    </div>

    <div class="col-md-4">
      <p> <i>Founded by the Foundation for Education Development Sarajevo,<br/> IUS was inaugurated in the academic year of 2004/2005.<br/> It is located in Sarajevo, the capital of Bosnia and Herzegovina. </i></p>
    </div>

    <div class="col-md-4 footer_logo">
      <a href="https://www.ius.edu.ba" target="_blank"> <img src="/ius_logo.png" class="img-responsive"/></a>
    </div>

  </div>
</div>
</div>
